# Quarto
/.quarto/

# Python + uv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
**/.uv/

# Jupyter
.ipynb_checkpoints/
*.quarto_ipynb

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/*
!.vscode/settings.json
.idea/
*.swp
*.swo

# Temporary files
*.tmp
**/*.quarto_ipynb
